<span class="article-date">
    <%
    var creationDate = new Date(post.date);
    creationDate.setHours(0, 0, 0, 0);
    var lastUpdateDate = new Date(post.updated || post.date);
    lastUpdateDate.setHours(0, 0, 0, 0);
    var creationIconClass = creationDate.getTime() === lastUpdateDate.getTime() ? 'icon-calendar-check' : 'icon-calendar-minus-o';
    %>
    <i class="iconfont <%= creationIconClass %>"></i>
	<a href="<%- url_for(post.path) %>" class="<%= className %>">
	  <time datetime="<%= date_xml(creationDate) %>"
            itemprop="datePublished">Created: <%= date(creationDate, dateFormat) %></time>
        <% if (creationDate.getTime() !== lastUpdateDate.getTime()) { %>
            <i class="iconfont icon-calendar-check"></i>
            <time datetime="<%= date_xml(lastUpdateDate) %>"
                  itemprop="dateModified">Last Updated: <%= date(lastUpdateDate, dateFormat) %></time>
        <% } %>
    </a>
</span>